<!doctype html>

<html lang="pt-br">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./home.css">
    
    <link rel="stylesheet" href="./excluir.css">

    <title>Tmk</title>

  </head>

  <body>

   <header>

      <img src="./logo.jpg" width="50" height="50">

    </header>

    <form method="POST" action="/logout" class= userInfo>

      <label for="usuario">Logado como: {{usuario}} </label> 

      <button type="submit" id="btnSair" style="background-color: red">Sair</button>

    </form>

    <div>
    
      <button onClick="goToEditar()" id="btnNavEditar" style="background-color: grey" class="button">Ir para edição</button>

      <button onClick="goToCriar()" id="btnNavCriar" style="background-color: green" class="button">Ir para criação</button>
    
    </div>
   

    <h1>Exclusão de Páginas</h1>

    <form method="POST" action="/deletar" class= deletarPagina>

      <label for="url">URL da página:</label>

      <input type="text" name="url" id="url">

      <br><br>

      <button type="submit" id="btnExcluir" style="background-color: red">Excluir</button>

    </form>

    {{#aviso}}

      <h3 id="aviso">{{aviso}}</h3>
      
    {{/aviso}}

    <div class=paginas>

      {{#todasPaginas.paginaNova}}

        <h2>Páginas existentes</h2>

        <div class=conteudo>

          <a href="http://localhost:3000/{{url}}" target="_blank">{{url}}</a>
          
        </div>

      {{/todasPaginas.paginaNova}}

      {{^todasPaginas.paginaNova}}
      
        <h2>Não existe páginas</h2>
      
      {{/todasPaginas.paginaNova}}

    </div>

    <script>
      function goToCriar() {
        window.location.href = "/home"
      }

      function goToEditar() {
        window.location.href = "/editar"
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  
  </body>

</html>