<!doctype html>
<html lang="pt-br">

    <head>

        <link rel="stylesheet" href="./global.css">

        <title>Teste</title>

    </head>

    <body>

        <header>

            <h1>TESTE</h1>

        </header>

        <main> TESTE 2</main>

        <footer>TESTE 3</footer>

    </body>

</html>
