<!doctype html><html lang='pt-br'><head><meta charset='utf-8'><title>AGUAAAA</title><link rel='stylesheet' href='../global.css'></link></head><body><header><h1>AGUAAAA</h1></header><main>ds</main><footer>s</footer></body></html>