<!doctype html><html lang='pt-br'><head><meta charset='utf-8'><title>== Header da Página==</title><link rel='stylesheet' href='../global.css'></link></head><style>
        header {
            background: #000000;
        }

        footer {
            background: #000000;
        }
    </style>
    <body><header><h1>== Header da Página==</h1></header><main>== Main da Página ==</main><footer>== Footer da Página ==</footer></body></html>